{{#if entitiesThatExistInTS.length}}
  <div class="titleIcon">{{fa-icon "info-circle" size="sm"}} Found IOCs</div>
  <div class="note">
    <span class="p-key"><span class="p-value"><em><b>NOTE:</b></em></span> Deletions of Found Items are perminant and does not confirm.</span>
  </div>
  <table class="intelItemsWrapper">
    <tbody class="intelItems">
      {{#each entitiesThatExistInTS as |intel|}}
        <tr class="intelItem">
          <td class="intellValue">
            <a href="{{details.url}}/detail/{{intel.type}}/{{intel.value}}">{{intel.value}}</a>
          </td>
          <td>
            <span>{{intel.type}}</span>
          </td>
          <td>
            <span class="delete" {{action "deleteItem" intel}}>{{fa-icon "trash" fixedWidth=true}}</span>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  
  <div class="d-flex flex-row justify-content-between align-items-center">
    <div>
      {{#if deleteIsRunning}}
        {{fa-icon "spinner-third" fixedWidth=true spin=true}} Deleting...
      {{/if}}
    </div>

    {{#if deleteMessage}}
      <div class="alert alert-info mt-1">
        {{deleteMessage}}
      </div>
    {{/if}}
    {{#if deleteErrorMessage}}
      <div class="alert alert-danger mt-1">
        {{deleteErrorMessage}}
      </div>
    {{/if}}
  </div>
{{/if}}
{{#if notFoundEntities}}
  <div class="interactiveTable notFoundEntities">
    <div class="titleIcon">{{fa-icon "info-circle" size="sm"}} New IOCs</div>
    <table class="intelItemsWrapper">
      <tbody class="intelItems">
        {{#each newIocs as |entity|}}
          <tr class="intelItem">
            <td class="intellValue">
              <span>{{entity.value}}</span>
            </td>
            <td>
              <span>{{entity.type}}</span>
            </td>
            <td>
              <span class="add" {{action "addSubmitItem" entity}}>{{fa-icon "plus" fixedWidth=true}}</span>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{#if (not newIocs.length)}}
    <div class="note">
      <span class="p-key"><em>NONE</em></span>
    </div>
  {{/if}}
  <div class="interactiveTable notFoundEntities">
    <div class="titleIcon">{{fa-icon "info-circle" size="sm"}} New IOCs to Submit</div>
    <table class="intelItemsWrapper">
      <tbody class="intelItems">
        {{#each newIocsToSubmit as |entity|}}
          <tr class="intelItem">
            <td class="intellValue">
              <span>{{entity.value}}</span>
            </td>
            <td>
              <span>{{entity.type}}</span>
            </td>
            <td>
              <span class="delete" {{action "removeSubmitItem" entity}}>{{fa-icon "minus" fixedWidth=true}}</span>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{#if (not newIocsToSubmit.length)}}
      <div class="note">
        <span class="p-key"><em>NONE</em></span>
      </div>
    {{/if}}
    <div class="inputs">
      <div class="p-title">{{fa-icon "info-circle" size="sm"}} New IOCs Inputs</div>
      <div class="checkbox-wrapper">
        <span class="p-value">
          {{input
            class="submit-checkbox"
            type="checkbox"
            checked=isPublic
            disabled=createIsRunning
          }}
        </span>
        <span class="p-key"> &nbsp;Submit as Public</span>
      </div>
      <div class="checkbox-wrapper">
        <span class="p-value">
          {{input
            class="submit-checkbox"
            type="checkbox"
            checked=isAnonymous
            disabled=createIsRunning
          }}
        </span>
        <span class="p-key"> &nbsp;Is Anonymous</span>
      </div>
      <div class="checkbox-wrapper">
        <span class="p-value">
          {{input
            class="submit-checkbox"
            type="checkbox"
            checked=manuallySetConfidence
            disabled=createIsRunning
          }}
        </span>
        <span class="p-key"> &nbsp;Manually Set Confidence</span>
      </div>
      {{#if manuallySetConfidence}}
        <div class="confidence">
          <span class="p-value">Confidence: </span>
          <span class="p-key">{{submitConfidence}}</span>
          <div>
            <input 
              type="range"
              class="confidenceRange"
              oninput={{action (mut submitConfidence) value="target.value"}}
              min="0"
              max="100"
              value={{submitConfidence}}
              steps="1"
            />
          </div>
        </div>
      {{/if}}

      <div style="clear:both; margin-bottom: 5px;"></div>

      <div class="selectContainer">
        <span class="p-value">TLP: </span>

        <select class="w-100 selectThreatType" size=5 onchange={{action (mut TLP) value="target.value"}}>
            <option value="red">Red</option>
            <option value="amber">Amber</option>
            <option value="green">Green</option>
            <option value="white">White</option>
        </select>
      </div>
      <div class="selectContainer">
        <span class="p-value">Severity: </span>

        <select class="w-100 selectThreatType" size=5 onchange={{action (mut submitSeverity) value="target.value"}}>
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
            <option value="very-high">Very High</option>
        </select>
      </div>
      <div class="selectContainer">
        <span class="p-value">Threat Type: </span>

        <select class="w-100 selectThreatType" size=5 onchange={{action (mut submitThreatType) value="target.value"}}>
          {{#each threatTypes as |threatType|}}
            <option value="{{threatType.type}}">{{threatType.name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="tag-container">
        <h1 class="p-title">
          {{fa-icon "tags" fixedWidth=true}} Tags
        </h1>
        {{#each (limit selectedTags maxTagsInBlock) as |tag tagIndex|}}
          <a href="{{details.url}}/search?status=active&tags={{tag}}" class="tag">
            {{tag.name}}
            <button class="tag-btn delete-tag-btn" {{action "deleteTag" tag}}>
              {{fa-icon "times" fixedWidth=true}}
            </button>
          </a>
        {{/each}}

        <div class="edit-tags-btn-container">
          <span class="p-action" {{action "editTags"}}>Add Tags {{fa-icon (if editingTags "caret-up" "caret-down") fixedWidth=true}}</span>
        </div>

        {{#if editingTags}}
          <div class="edit-tags-container">
            <div class="edit-visibility-container">
              {{#power-select
                options=tagVisibility
                selected=selectedTagVisibility
                searchEnabled=false
                searchField="name"
                placeholder="Visibility"
                onChange=(action (mut selectedTagVisibility)) as |visibility|}}
                {{visibility.name}}
              {{/power-select}}
            </div>
            <div class="input-group add-tag-container">
              {{#power-select
                triggerClass="form-control"
                selected=selectedTag
                options=existingTags
                searchEnabled=true
                search=(action "searchTags")
                placeholder="Add Tag"
                searchField="name"
                searchMessage="Loading Tags ..."
                searchPlaceholder="Search tags"
                closeOnSelect=true
                onOpen=(action "searchTags" '')
                onChange=(action (mut selectedTag)) as |tag|
              }}
                {{tag.name}}
                {{#if tag.isNew}}
                    {{fa-icon "plus-circle" fixedWidth=true}}
                {{else}}
                    {{fa-icon "check-circle" fixedWidth=true}}
                {{/if}}
              {{/power-select}}

              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" {{action "addTag"}}>
                  {{fa-icon "plus" fixedWidth=true}}
                </button>
              </div>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="submitButton">
        <div>
          {{#if createIsRunning}}
            {{fa-icon "spinner-third" fixedWidth=true spin=true}} Running
          {{/if}}
        </div>
        <button {{action "submitItems"}}
                disabled={{createIsRunning}}
                class="p-btn btn btn-secondary mt-1">Submit IOCs
        </button>
      </div>

      {{#if createMessage}}
        <div class="alert alert-info mt-1">
          {{createMessage}}
        </div>
      {{/if}}
      {{#if createErrorMessage}}
        <div class="alert alert-danger mt-1">
          {{createErrorMessage}}
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}

{{!-- severity confidnece and tags status organization --}}